@page
@model GadgetCMS.Pages.Parameter.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Parameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Parameter.ParameterName" class="control-label"></label>
                <input asp-for="Parameter.ParameterName" class="form-control" />
                <span asp-validation-for="Parameter.ParameterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.ParameterDescription" class="control-label"></label>
                <input asp-for="Parameter.ParameterDescription" class="form-control" />
                <span asp-validation-for="Parameter.ParameterDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.ParameterUnit" class="control-label"></label>
                <input asp-for="Parameter.ParameterUnit" class="form-control" />
                <span asp-validation-for="Parameter.ParameterUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.ParentParameterId" class="control-label"></label>
                <select asp-for="Parameter.ParentParameterId" class ="form-control" asp-items="ViewBag.ParentParameterId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
