@model System.Collections.Generic.List<GadgetCMS.Data.ArticlePicture>

<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "fullscreen": true, "wrapAround" : true, "autoPlay": true }'>
    @foreach (var item in Model)
    {
        var base64 = Convert.ToBase64String(item.ArticlePictureBytes);
        var imgSrc = $"data:image/gif;base64,{base64}";
        <img src="@imgSrc" class="caro-image" alt="@item.ArticlePictureCaption"/>
    }
</div>
<script>
    $('.carousel').on('fullscreenChange.flickity', function (event, isFullscreen) {
        if (isFullscreen) {
            $('header').hide();
            $('footer').hide();
        }
        else {
            $('header').show();
            $('footer').show();
        }
    });

</script>