@page
@model GadgetCMS.Areas.Identity.Pages.Account.CheckEmailModel
@{
    ViewData["Title"] = "Check E-mail";
}
<h3>Account Registered!</h3>
<p>Hey! Thank you for registering with us! Before you can login to your account, you will need to verify your account.</p>
<hr>
<p>In order to verify your account, <strong>login to your given E-mail and click confirm account on the link sent by us!</strong></p>

