@page
@model GadgetCMS.Pages.Category.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.CategoryId" />
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryDescription" class="control-label"></label>
                <input asp-for="Category.CategoryDescription" class="form-control" />
                <span asp-validation-for="Category.CategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Category.CategoryParentParameters" class="form-control custom-select" asp-items="ViewBag.ParentParameters" name="AddParentParameters" id="AddParentParameters"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.ParentParametersMain != null)
{
    foreach (var ppDetsMain in Model.ParentParametersMain)
    {
        foreach (var ppDetsSub in ppDetsMain)
        {
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

            <script>
                        $(document).ready(function()
                        {
                           $('#AddParentParameters option[value="@ppDetsSub.ParentParameterId"]').attr('selected', true);

                        });
            </script>

            @ppDetsSub.ParentParameterName
        }
    }
}


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
