@page
@model GadgetCMS.Pages.AdvancedSearch.SearchModel
@{
    ViewData["Title"] = "Search";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Advanced Search - Search</title>
    @*<script src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
</head>
<body>

    <h1>Search</h1>

    <form>
        <label asp-for="Article.CategoryId" class="control-label"></label>
        <select asp-for="Article.CategoryId" class="form-control" name="Category" id="SelectCategory" asp-items="ViewBag.CategoryId"></select>
        <button class="btn btn-primary" id="submit"> Submit </button>
        <button class="btn btn-primary" id="btn_FiltersApply">Apply</button>
    </form>
    <div class="row">
        <div class="col-md-8" id="ArList">

        </div>
        <div class="col-md-4" id="FilList">

        </div>

    </div>


    @section scripts{
        <script>
            $(function () {
                $('#submit').on('click', function () {
                    var categorySelect = document.getElementById('SelectCategory').value;
                    $('#ArList').load('/AdvancedSearch/SearchAjax?handler=SelectCategory&&categorySelection='+categorySelect);
                    $('#FilList').load('/AdvancedSearch/SearchAjax?handler=FilterArticles&&categorySelection='+categorySelect);

                    return false;

                });
                $('#btn_FiltersApply').on('click',
                    function() {
                        var categorySelect = document.getElementById('SelectCategory').value;
                        var userselectedvalues = '';
                        var values = document.getElementById('checkboxcount').value;
                        for (var i = 0; i < values; i++) {
                            if (document.getElementById('CheckboxCheck' + i).checked === true) {
                                userselectedvalues += document.getElementById('CheckboxCheck'+i).value + ";";
                            }
                        }
                        $('#ArList').load('/AdvancedSearch/SearchAjax?handler=FilterArticlesFinal&&categorySelection=' +categorySelect + '&&values=' +
                            userselectedvalues);
                        return false;
                    });
            });


        </script>

    }
    <form></form>
    @*@section scripts{
            <script>
                // $(function () {
                //  $('#btn_FiltersApply').on('click', function (e) {
                //});
                //});
            </script>
        }*@



</body>
</html>

