@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@
</head>
<style>
    .rounded-edges-div {
        border: solid;
        border-radius: 25px;
        border-color: black;
        padding: 5%;
    }

    .position-right {
        float: right;
    }

    .font-smaller {
        font-size: smaller;
    }
</style>
<div class="row">
    @*<div class="col-md-1">

        </div>*@
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" id="SearchResult" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary m-0" type="button" id="button-addon2">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div id="demo">

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Featured Articles</h2>
        <hr />
        @await Component.InvokeAsync("ArticleFeatured")
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#recent" role="tab" aria-controls="pills-home" aria-selected="true">Recent</a></li>
            <li class="nav-item"><a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#popular" role="tab" aria-controls="pills-profile" aria-selected="false">Popular</a></li>
            <li class="nav-item"><a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#toprated" role="tab" aria-controls="pills-contact" aria-selected="false">Top-Rated</a></li>
        </ul>
        <div class="tab-content card" id="pills-tabContent">
            <div class="tab-pane fade show active card-body" id="recent" role="tabpanel" aria-labelledby="pills-home-tab">
                <h3>Recent</h3>
                <hr />
                @await Component.InvokeAsync("ArticleRecent")
            </div>
            <div class="tab-pane fade card-body" id="popular" role="tabpanel" aria-labelledby="pills-profile-tab">
                <h3>Popular</h3>
                <hr />
                @await Component.InvokeAsync("ArticlePopular")
            </div>
            <div class="tab-pane fade card-body" id="toprated" role="tabpanel" aria-labelledby="pills-contact-tab">
                <h3>Top-Rated</h3>
                <hr />
                @await Component.InvokeAsync("ArticleTopRated")
            </div>
        </div>

    </div>
    <div class="col-md-4" id="twitterFeed">
        <a class="twitter-timeline" data-lang="en" data-width="300" data-height="900" href="https://twitter.com/kataria_alkesh/lists/techie-s-list?ref_src=twsrc%5Etfw">Twitter, at your Service.</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>



<script>
    $('#SearchResult').on('input', function () {
        var searchQuery = document.getElementById('SearchResult').value;
        searchQuery = searchQuery.replace(/\s/g, "%20");
        $('#demo').load('./Index?handler=SearchQuery&&value=' + searchQuery);
        //$('#FilList').load('/AdvancedSearch/SearchAjax?handler=FilterArticles&&categorySelection=' + categorySelect);

        return false;

    });
</script>
