@page
@model GadgetCMS.Pages.Article.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" id="SearchResult" aria-describedby="search-button">
            <div class="input-group-append">
                <button class="btn btn-outline-primary m-0" type="button" id="search-button">Search</button>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4">
                <select asp-for="Article.CategoryId" class="custom-selec form-control" name="Category" id="SelectCategory" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-primary mt-0 mb-0 h-100" type="button" id="submit">Select Category</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-default mt-0 mb-0 h-100" id="btn_FiltersApply">Apply Filters</button>
            </div>
        </div>            
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div id="demo">

        </div>
    </div>
</div>
<script>
    document.getElementById('btn_FiltersApply').style.visibility = 'hidden';
</script>
<div class="row">

    <div class="col-md-8" id="ArList">

    </div>
    <div class="col-md-4" id="FilList">

    </div>

</div>


@section scripts{
    <script>
            $(function () {

                $('#SearchResult').on('input', function () {
                    var searchQuery = document.getElementById('SearchResult').value;
                    searchQuery = searchQuery.replace(/\s/g, "%20");
                    $('#demo').load('/Article/Index?handler=SearchQuery&&value=' + searchQuery);
                    return false;
                });
            
                $('#submit').on('click', function () {
                    var searchQuery = document.getElementById('SearchResult').value;
                    searchQuery = searchQuery.replace(/\s/g, "%20");

                    var categorySelect = document.getElementById('SelectCategory').value;
                    $('#ArList').load('/Article/Index?handler=SelectCategory&&categorySelection=' + categorySelect + '&&searchQuery=' + searchQuery);
                    $('#FilList').load('/Article/Index?handler=FilterArticles&&categorySelection=' + categorySelect + '&&searchQuery=' + searchQuery);
                    document.getElementById('btn_FiltersApply').style.visibility = 'visible';

                    return false;

                });

                $('#btn_FiltersApply').on('click',
                    function () {
                        var categorySelect = document.getElementById('SelectCategory').value;
                        var userselectedvalues = '';
                        var values = document.getElementById('checkboxcount').value;
                        for (var i = 0; i < values; i++) {
                            if (document.getElementById('CheckboxCheck' + i).checked === true) {

                                userselectedvalues += document.getElementById('CheckboxCheck' + i).value + ";";

                            }
                        }
                        var searchQuery = document.getElementById('SearchResult').value;
                        searchQuery = searchQuery.replace(/\s/g, "%20");
                        userselectedvalues = userselectedvalues.replace(/\s/g, "%20");
                        $('#ArList').load('/Article/Index?handler=FilterArticlesFinal&&categorySelection=' + categorySelect + '&&values=' +
                            userselectedvalues + '&&searchQuery=' + searchQuery);
                        return false;
                 });
            
        });


    </script>

}