/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 14px;
  position: relative;
  height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.nav-pills a {
    margin-bottom: 5px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    z-index: -1;
}

.btn {
    margin: 5px;
}

.nav-link.btn, .btn-no-margin {
    margin: 0px;
}

.btn-google {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-weight: normal;
    text-transform: none;
}

.btn-facebook {
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-weight: normal;
    background-color: #4267B2;
    border-color: #4267b2;
    text-transform: none;
}
.fb-logo {
    height: 40px;
}

#mainNav {
    width: 100%;
}

.navbar-collapse.collapse.show {
    margin-top: 50px;
    z-index: 0;
}

body, .container, #mainPage, .container-fluid {
    position: relative;
    z-index: -1;
}

body {
    overflow-x: hidden;
}

.navbar-collapse.collapsing {
    margin-top: 50px;
    z-index: 0;
}
.table td {
    padding: 10px;
}

.dropdown .avatar {
    padding: 0px;
}

.caro-image {
    display: block;
    height: 400px;
    /* set min-width,
     allow images to determine cell width */
    min-width: 150px;
    max-width: 100%;
    margin-right: 10px;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%)
}

.carousel.is-fullscreen .caro-image {
    height: auto;
    max-height: 100%;
}

.ql-editor strong {
    font-weight: bold;
}

#ratingDisplay .br-theme-fontawesome-stars-o .br-widget a {
    font-size: 32px;
}

#reviewRater .br-theme-fontawesome-stars-o .br-widget a {
    font-size: 46px;
}

.alert-dismissible .close{
    right: 5rem !important;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}