@page
@model GadgetCMS.Pages.ArticleParameter.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ArticleParameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleParameter.ArticleId" class="control-label"></label>
                <select asp-for="ArticleParameter.ArticleId" class ="form-control" asp-items="ViewBag.ArticleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArticleParameter.ParameterId" class="control-label"></label>
                <select asp-for="ArticleParameter.ParameterId" class ="form-control" asp-items="ViewBag.ParameterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArticleParameter.ParameterVal" class="control-label"></label>
                <input asp-for="ArticleParameter.ParameterVal" class="form-control" />
                <span asp-validation-for="ArticleParameter.ParameterVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
