@page
@model GadgetCMS.Areas.Dashboard.Pages.DownloadNLogFilesModel
@{
    ViewData["Title"] = "Download Logs";
    Layout = "Shared/_Layout.cshtml";
}

<h2>Download Log Files</h2>
<form method="post"> 
    <button type="submit" class="btn btn-primary">Download</button>
</form>