@model List<Data.Article>

@if (Model != null)
{
    foreach (var articlesfetch in Model)
    {
        //foreach(var articlesfetchSub in articlesfetch)
        //    {
        <a asp-page="./Details" asp-route-id="@articlesfetch.ArticleId">@Html.DisplayFor(modelItem => articlesfetch.ArticleName)</a> <br />
        
    }

    //}
}
else
{
    <h5>No Search Results Found</h5>
}