@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1>Dashboard</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <ul class="nav nav-pills flex-column nav-fill">
            <a class="nav-item nav-link @DashboardPages.IndexNavClass(ViewContext)" id="ManageUsers" asp-page="/ManageUsers/Index">Manage Users</a>
        </ul>
    </div>
    <div class="col-lg-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}